table {
    border-collapse:collapse;
    font-size : 12px;
}

th, td {
    border: 1px solid black;
}

th {
    position : relative;
    width : 100px;
    padding : 6px;
}

caption, th {
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

tbody tr th {
    width : 60px;
}

tbody td {
    height : 20px;
    cursor : cell;
}

thead th span {
    position : absolute;
    left : 6px;
}

caption {
    font-size : 14px;
    font-weight : bold;
    text-align : left;
}

#prev, #next {
    margin-right : 6px;
    font-size : 12px;
    font-weight : normal;
    cursor : pointer;
}

.disabled {
    background-color : lightGray;
    cursor : not-allowed;
}